<%= render 'user',book: @book ,user: @user %>
  <div class="col-xs-9">
    <table class='table table-hover table-inverse' style="margin-top: 100px;">
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>題名</th>
          <th>要約</th>
          <th>作者</th>
          <th>おススメ度</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= attachment_image_tag book, :image, size: "40x40", format: 'jpeg',fallback: "no_image.jpg",size:'40x40' %>
            </td>
            <td><%= book.user.name %></td>
            <td><%= link_to book.title, book %></td>
            <td><%= book.body %></td>
            <td><%= book.author %></td>
            <td><%= book.evaluation_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>