<%= form_with model:[book, book_comment], url: book_book_comments_path(@book.id), data:{remote: true} do |f| %>
  <% if book_comment.errors.any? %>
  <h3><%= book_comment.errors.count %>error occurrence</h3>
  <ul>
    <% book_comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <%= f.text_area :book_comment, size: "90x5" , id: "textarea" %>
  <%= f.submit '送信' %>
  <% end %>